@import "tailwindcss";
@import "tw-animate-css";

.lightRayAnimation {
  animation: lightRay 3s ease-in-out infinite both;
}

@keyframes lightRay {

  0%,
  100% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-40px);
  }
}